[Desktop Entry]
Type=Service
X-KDE-System-Settings-Category=workspace
X-KDE-System-Settings-Parent-Category=
X-KDE-Weight=20
Icon=preferences-desktop

Name=Desktop & Windows
Name[ru]=Рабочий стол и окна
